@use '../../sass/common' as *;

.mobileMenu {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(110%);
	background-color: $bg-mid;
	box-shadow: -4px 0 30px rgba(0, 0, 0, 0.6);
	transition: transform 0.4s;
	z-index: 20;

	&--active {
		transform: translateX(0%);

		&::after {
			content: '';
			position: fixed;
			left: -100%;
			top: 0;
			height: 100vh;
			width: 50vw;
			background-color: $dark;
			opacity: 0;
			z-index: 1;
			animation: fadeIn 0.5s ease-in-out forwards;
			animation-delay: 0.2s;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3em;
		list-style: none;
	}
}
