@use '../../sass/common' as *;

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: fit-content;
	padding: 1em 1.5em;
	margin: 3em auto;
	border: 2px solid $blue;
	color: $blue;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	box-shadow: 7px 7px 0px 0px $yellow;
}