.item {
	display: flex;
	align-items: center;
	gap: 1.2em;
	max-width: 350px;

	.label {
		display: flex;
		flex-direction: column;
		gap: 0.25em;

		h3 {
			font-size: 1em;
			font-weight: bold;
		}

		p {
			max-width: 300px;
			font-weight: 300;
			opacity: 0.9;
			font-size: 0.94em;
		}
	}
}
