@use '../../sass/common' as *;

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
	max-width: 510px;
	padding-bottom: 1em;
	margin-top: 5em;

	.inputBox {
		width: 100%;
	}

	.error {
		margin-top: 3px;
		min-height: 17px;
		color: rgb(249, 68, 68);
		font-size: 0.9em;
		opacity: 0;

		&--active {
			opacity: 1;
		}
	}

	input,
	textarea {
		width: 100%;
		padding: 0.7em 0.5em;
		font-size: 1em;
		background-color: transparent;
		color: $bg-dark;
		border: 2px solid $bg-dark;

		&:focus {
			outline: none;
			box-shadow: 4px 4px 0px $yellow;
		}
	}

	textarea {
		height: 250px;
	}

	.conditions {
		margin-top: -1.5em;

		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1em;
		}

		input {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			outline: none;
			cursor: pointer;
			width: 24px;
			aspect-ratio: 1/1;
			border: 2px solid $bg-dark;
			border-radius: 4px;
			display: inline-block;
			position: relative;
			background-color: transparent;

			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:checked {
				background-color: transparent;
				border-color: $yellow;

				&::after {
					content: '';
					position: absolute;
					top: 45%;
					left: 25%;
					width: 6px;
					height: 12px;
					border: solid $yellow;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg) translate(-50%, -50%);
				}
			}
		}

		p {
			font-size: 0.8em;
			opacity: 0.8;

			a {
				text-decoration: underline;
				color: $yellow;
			}
		}
	}

	button {
		@include mainButton;
		margin-top: 2em;
		background-color: $bg-dark;
	}
}

@media (width >= 576px) {
	.form {
		textarea {
			height: 300px;
		}
	}
}

@media (width >= 992px) {
	.form {
		margin: 0;
		margin-top: 5em;
		width: 50%;
	}
}
