.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em 0;
	z-index: 10;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burgerBtn {
	z-index: 100;
}
