@use '../../sass/common' as *;

.home {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;

	&::before {
		@include diagonal-gradient;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 7em;
	padding-bottom: 3em;
}

.heading {
	position: relative;
	font-size: 2.2em;
	text-align: center;
	font-weight: 900;
	letter-spacing: 1px;
	color: $blue;

	span {
		white-space: nowrap;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: -7px;
		left: 50%;
		height: 3px;
		width: 30%;
		transform: translateX(-50%);
		background-color: $yellow;
	}
}

.text {
	margin-top: 2em;
	max-width: 900px;
	text-align: center;
}

.img_cars {
	width: 110%;
	max-width: 900px;
	margin-top: 3em;
}
